* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e9f7ea; /* Soft green background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 350px;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #388e3c; /* Dark green for header */
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.chat-content {
    padding: 15px;
    padding-top: 0%;
    height: 400px;
    overflow-y: auto;
    background-color: #f1f8e9; /* Lighter green for chat background */
}

.bot-message, .user-message {
    margin-bottom: 15px;
}

.bot-message {
    background-color: #a5d6a7; /* Light green for bot messages */
    padding: 10px;
    border-radius: 10px;
    color: black;
    margin-top: 10px;
    margin-bottom: 0;
}

.user-message {
    background-color: #81c784; /* Slightly darker green for user messages */
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    text-align: right;
}

.options-container, .crop-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.option-btn {
    flex: 1;
    padding: 10px;
    background-color: #66bb6a; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.option-btn:hover {
    background-color: #558b2f; /* Darker on hover */
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f1f8e9;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

#send-btn {
    padding: 10px 15px;
    background-color: #388e3c; /* Send button color */
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #2e7d32;
}

.options-container{
    padding-bottom: 5%;
    padding-top: 5%;
}

.crop-buttons-container{
    padding-bottom: 5%;
}

.options-container {
    position: sticky;
    top: 0;
    background-color: #f1f8e9; /* Match the chat background color */
  }

.bot-message.initial-message {
    position: sticky;
    top: 0;
    background-color: #a5d6a7; /* Match the bot message background color */
    z-index: 100;
}
